<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dagong.mapper.InvitationMapper">
  <resultMap id="BaseResultMap" type="com.dagong.pojo.Invitation">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="invite_user_id" jdbcType="VARCHAR" property="inviteUserId" />
    <result column="invite_company_id" jdbcType="VARCHAR" property="inviteCompanyId" />
    <result column="apply_user_id" jdbcType="VARCHAR" property="applyUserId" />
    <result column="apply_info" jdbcType="VARCHAR" property="applyInfo" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <insert id="insert" parameterType="com.dagong.pojo.Invitation">
    insert into invitation (id, invite_user_id, invite_company_id, 
      apply_user_id, apply_info, status
      )
    values (#{id,jdbcType=VARCHAR}, #{inviteUserId,jdbcType=VARCHAR}, #{inviteCompanyId,jdbcType=VARCHAR}, 
      #{applyUserId,jdbcType=VARCHAR}, #{applyInfo,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dagong.pojo.Invitation">
    insert into invitation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="inviteUserId != null">
        invite_user_id,
      </if>
      <if test="inviteCompanyId != null">
        invite_company_id,
      </if>
      <if test="applyUserId != null">
        apply_user_id,
      </if>
      <if test="applyInfo != null">
        apply_info,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="inviteUserId != null">
        #{inviteUserId,jdbcType=VARCHAR},
      </if>
      <if test="inviteCompanyId != null">
        #{inviteCompanyId,jdbcType=VARCHAR},
      </if>
      <if test="applyUserId != null">
        #{applyUserId,jdbcType=VARCHAR},
      </if>
      <if test="applyInfo != null">
        #{applyInfo,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>