<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dagong.mapper.JobMapper">
  <resultMap id="BaseResultMap" type="com.dagong.pojo.Job">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="company_id" jdbcType="VARCHAR" property="companyId" />
    <result column="detail" jdbcType="VARCHAR" property="detail" />
    <result column="need_number" jdbcType="INTEGER" property="needNumber" />
    <result column="create_time" jdbcType="DATE" property="createTime" />
    <result column="job_type" jdbcType="INTEGER" property="jobType" />
    <result column="startsalary" jdbcType="INTEGER" property="startsalary" />
    <result column="endsalary" jdbcType="INTEGER" property="endsalary" />
    <result column="bonus" jdbcType="INTEGER" property="bonus" />
    <result column="royalty" jdbcType="INTEGER" property="royalty" />
    <result column="discuss" jdbcType="INTEGER" property="discuss" />
  </resultMap>
  <sql id="Base_Column_List">
    id, company_id, detail, need_number, create_time, job_type, startsalary, endsalary, 
    bonus, royalty, discuss
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from job
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from job
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.dagong.pojo.Job">
    insert into job (id, company_id, detail, 
      need_number, create_time, job_type, 
      startsalary, endsalary, bonus, 
      royalty, discuss)
    values (#{id,jdbcType=VARCHAR}, #{companyId,jdbcType=VARCHAR}, #{detail,jdbcType=VARCHAR}, 
      #{needNumber,jdbcType=INTEGER}, #{createTime,jdbcType=DATE}, #{jobType,jdbcType=INTEGER}, 
      #{startsalary,jdbcType=INTEGER}, #{endsalary,jdbcType=INTEGER}, #{bonus,jdbcType=INTEGER}, 
      #{royalty,jdbcType=INTEGER}, #{discuss,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.dagong.pojo.Job">
    insert into job
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="companyId != null">
        company_id,
      </if>
      <if test="detail != null">
        detail,
      </if>
      <if test="needNumber != null">
        need_number,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="jobType != null">
        job_type,
      </if>
      <if test="startsalary != null">
        startsalary,
      </if>
      <if test="endsalary != null">
        endsalary,
      </if>
      <if test="bonus != null">
        bonus,
      </if>
      <if test="royalty != null">
        royalty,
      </if>
      <if test="discuss != null">
        discuss,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null">
        #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="detail != null">
        #{detail,jdbcType=VARCHAR},
      </if>
      <if test="needNumber != null">
        #{needNumber,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=DATE},
      </if>
      <if test="jobType != null">
        #{jobType,jdbcType=INTEGER},
      </if>
      <if test="startsalary != null">
        #{startsalary,jdbcType=INTEGER},
      </if>
      <if test="endsalary != null">
        #{endsalary,jdbcType=INTEGER},
      </if>
      <if test="bonus != null">
        #{bonus,jdbcType=INTEGER},
      </if>
      <if test="royalty != null">
        #{royalty,jdbcType=INTEGER},
      </if>
      <if test="discuss != null">
        #{discuss,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dagong.pojo.Job">
    update job
    <set>
      <if test="companyId != null">
        company_id = #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="detail != null">
        detail = #{detail,jdbcType=VARCHAR},
      </if>
      <if test="needNumber != null">
        need_number = #{needNumber,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=DATE},
      </if>
      <if test="jobType != null">
        job_type = #{jobType,jdbcType=INTEGER},
      </if>
      <if test="startsalary != null">
        startsalary = #{startsalary,jdbcType=INTEGER},
      </if>
      <if test="endsalary != null">
        endsalary = #{endsalary,jdbcType=INTEGER},
      </if>
      <if test="bonus != null">
        bonus = #{bonus,jdbcType=INTEGER},
      </if>
      <if test="royalty != null">
        royalty = #{royalty,jdbcType=INTEGER},
      </if>
      <if test="discuss != null">
        discuss = #{discuss,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dagong.pojo.Job">
    update job
    set company_id = #{companyId,jdbcType=VARCHAR},
      detail = #{detail,jdbcType=VARCHAR},
      need_number = #{needNumber,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=DATE},
      job_type = #{jobType,jdbcType=INTEGER},
      startsalary = #{startsalary,jdbcType=INTEGER},
      endsalary = #{endsalary,jdbcType=INTEGER},
      bonus = #{bonus,jdbcType=INTEGER},
      royalty = #{royalty,jdbcType=INTEGER},
      discuss = #{discuss,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>